#_logo{
  filter: drop-shadow(var(--shadow));
  transition: transform 2000ms;
}

#_logo-auth img{
width: 12rem;
}

#_logo:hover{
  transform: scale(1.05);
}

#_logo-desktop-nav img{
width: 10rem;
}

  @media only screen 
  /*
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    */
    and (max-width: 720px){
#_logo-auth img{
width: 8rem;
}

#_logo-desktop-nav img{
width: 5rem;
}

}